<div class="todo-list">
  <span class="date ms-l">
    {{ todo.completeDate | date }}
  </span>
  <div class="todo">
    <h4 [ngClass]="setClasses()">{{ todo.name }}</h4>

    <div class="icons">
      <span (click)="setComplete()" class="check" *ngIf="!todo.completed">
        <img
          src="../../assets/img/check.png"
          alt=""
          data-toggle="tooltip"
          data-placement="top"
          title="Mark complete"
        />
      </span>
      <span (click)="setComplete()" class="check" *ngIf="todo.completed">
        <img
          src="../../assets/img/remove.png"
          alt=""
          data-toggle="tooltip"
          data-placement="top"
          title="Mark uncomplete"
        />
      </span>

      <span (click)="deleteTodo(todo.id)">
        <img
          src="../../assets/img/trash.png"
          alt=""
          data-toggle="tooltip"
          data-placement="top"
          title="Delete todo"
        />
      </span>
    </div>
  </div>
</div>
